name: Clone Markdown Files

on:
  push:
    branches:
      - main

jobs:
  clone:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Clone Markdown Files
      run: |
        git clone https://github.com/dkhamsing/open-source-ios-apps.git
        cd open-source-ios-apps
        for f in *.md; do mv "$f" "$(echo "$f" | tr '[:upper:]' '[:lower:]')"; done
        cp *.md ../
      working-directory: ${{github.workspace}}
      
    - name: Commit and push changes
      uses: stefanzweifel/git-auto-commit-action@v4.9.2
      with:
        commit_message: "Update markdown files"
        commit_user_name: "GitHub Actions"
        commit_user_email: "actions@github.com"
        commit_author: "GitHub Actions <actions@github.com>"
        commit_files: "*.md"
        branch: "main"
        push: "true"
