name: Copy Markdown files

on:
  push:
    branches:
      - main

jobs:
  copy_files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Copy files
        uses: cpina/github-action-push-to-another-repository@main
        with:
          source_repo: dkhamsing/open-source-ios-apps
          source_branch: main
          source_directory: ./
          destination_repo: ld3z/open-source-ios-apps-site
          destination_branch: main
          destination_directory: ./
          github_token: ${{ secrets.DESTINATION_REPO_TOKEN }}
